body {
    box-sizing: border-box;
    background-color: #494949;
}

#div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

#div-container div {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    border: solid 0.5px white;
}

.btn {

}